div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | Create New Campaign 
    a(href="/campaign/new") here
  div.row.list-group-item
    div.col-md-1
      strong Id
    div.col-md-2
      strong Name
    div.col-md-2
    div.col-md-1
      strong Clicks
    div.col-md-1
      strong Leads
    div.col-md-1
      strong CPC
    div.col-md-1
      strong Spent
    div.col-md-1
      strong Revenue
    div.col-md-1
      strong Conversion Rate
    div.col-md-1
      strong P/L
    div.col-md-1
      strong ROI
  div.row.list-group-item(ng-repeat='campaign in users')
    div.col-md-1 {{campaign.id}}
    div.col-md-2 {{campaign.name}}
    div.col-md-2
      span
        a(href="/campaign/{{campaign.id}}") Edit
        span  | 
        a(ng-click="delete(campaign)") Delete
    div.col-md-1 {{campaign.clicks}}
    div.col-md-1 {{campaign.conversions}}
    div.col-md-1 {{campaign.defaultCpc}}
    div.col-md-1 {{campaign.spent}}

  //- ul.list-group
  //-   li.list-group-item(ng-repeat='user in users')
  //-     strong {{user.name}}
  //-     br
  //-     span.text-muted {{user.email}}
  //-     a(href="/campaign/{{user.id}}") Edit <!--a(href="/campaign/{{user._id}}") Edit -->
  //-     a.trash(ng-click='delete(user)')
  //-       span.glyphicon.glyphicon-trash.pull-right
