div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  br
  div.container-fluid
    div.row.list-group-item
      div.col-md-6
        span 
        strong Campaign Id:
      div.col-md-6
        span {{campaign._id}}
    div.row.list-group-item
      div.col-md-6
        span 
        strong Name:
      div.col-md-6
        input(type="text" ng-model="campaign.name")
    div.row.list-group-item
      div.col-md-6
        span 
        strong Active:
      div.col-md-6
        input(type="checkbox" ng-model="campaign.active")
    div.row.list-group-item
      div.col-md-6
        span 
        strong Comment:
      div.col-md-6
        input(type="text" ng-model="campaign.comment")
    div.row.list-group-item
      div.col-md-6
        span 
        strong Campaign Group 1:
      div.col-md-6
        span tbd
    div.row.list-group-item
      div.col-md-6
        span 
        strong Campaign Group 2:
      div.col-md-6
        span tbd
    div.row.list-group-item
      div.col-md-6
        span 
        strong Campaign Group 3:
      div.col-md-6
        span tbd
    div.row.list-group-item
      div.col-md-6
        span 
        strong Traffic Source:
      div.col-md-6
        span bb
    div.row.list-group-item
      div.col-md-6
        span 
        strong Default CPC $:
      div.col-md-6
        input(type="text" ng-model="campaign.defaultCpc")
    div.row.list-group-item
      div.col-md-6
        span 
        strong Campaign Type:
      div.col-md-6
        span dd
    div.row.list-group-item
      div.col-md-6
        span 
        strong Use Tokens:
      div.col-md-6
        input(type="checkbox" ng-model="campaign.useTokens")
    div.row.list-group-item
      div.col-md-6
        span 
        strong Sub Ids:
      div.col-md-6
        span url end or template
    div.row.list-group-item
      div.col-md-6
        span 
        strong Enable Rotation:
      div.col-md-6
        input(type="checkbox" ng-model="campaign.useTokens")
  br
  div.container-fluid
    div.row.list-group-item(ng-repeat='offer in campaign.offers')
      div.col-md-12
        div.container-fluid
          div.row.list-group-item
            div.col-md-4
              span 
              strong Offer Name:
            div.col-md-4
              span {{offer.name}}
            div.col-md-2
              span 
              strong Active:
            div.col-md-2
              span {{offer.active}}
          div.row.list-group-item
            div.col-md-4
              span 
              strong Url:
            div.col-md-8
              span {{offer.url}}
          div.row.list-group-item
            div.col-md-3
              span 
              strong Payout $:
            div.col-md-3
              span {{offer.payout}}
            div.col-md-3
              span 
              strong Split $:
            div.col-md-3
              span {{offer.split}}
  div.container-fluid
    div.row.list-group-item
      div.col-md-6
        button.btn.btn-inverse.btn-lg.btn-login(ng-click='update()')
            | Save
    div.row.list-group-item
      div.col-md-6
        button.btn.btn-inverse.btn-lg.btn-login(ng-click='create()')
            | Create

  